By: 10117094	Muhammad Walidin
    10116476	Idham Rahadian
    10116490	Muhammad Fajar Maulana

In [1]:
import pandas as pd
import numpy as np

In [2]:
raw = pd.read_csv( "data/data/1.2_data_review_cleaner_pure.csv")
raw.head()

,rating,review,avg_word,word_count
0,5,"'tidak','ada','ulasan'",6.666667,3
1,5,"'puas','kecil','tapi','kencang'",7.000000,4
2,1,"'barang','yang','datang','bukan','baracuda','t...",6.428571,13
3,5,"'terima,kasih','barang','sudah','sampai','seha...",7.666667,17
4,5,"'barang','bagus','pengirman','cepat','mantap',...",7.666667,6

In [2]:
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))
sentences = raw.loc[:,['review','rating']]
def rating_to_sentiment(rating):
    if rating > 3:
        return 1
    else:
        return 0
    
sentences['sentiment'] = sentences['rating'].apply(rating_to_sentiment)
sentences.drop(['rating'],axis=1,inplace=True)
neg = sentences[sentences['sentiment'] == 0]
pos = sentences[sentences['sentiment'] == 1]
print("All Processed Data")
print("Negative: ",neg.shape)
print("Positive: ",pos.shape)

All Processed Data
Negative:  (226, 2)
Positive:  (578, 2)

In [3]:
from sklearn.model_selection import train_test_split
train, validation = train_test_split(sentences, test_size=0.2, random_state=42)
test = validation.loc[:,['review']]

In [4]:
train.head()

                                                review  sentiment
344  'pengemasan' 'rapi' 'barang' 'cepat' 'sampai' ...          1
350  'bungkus' 'tidak' 'profesional' 'seharus' 'mem...          0
443                'bagus' 'berfungsi' 'dengan' 'baik'          1
331              'pengemasan' 'aman' 'barang' 'sesuai'          1
290        'tenaga' 'bank' 'tidak' 'dapat' 'digunakan'          0

In [5]:
print(train.shape)

(643, 2)

In [6]:
train.to_csv("data/data/train_1.csv", index=False, quoting=3)

In [7]:
test.head()

                                                review
192  'pesan' 'tangal' 'sembilan' 'mei' 'tujuh' 'bel...
717  'sempat' 'ada' 'isue' 'dengan' 'laptop' 'tapi'...
168  'barang' 'cepat' 'diterima' 'dan' 'dalam' 'kea...
522  'kecewa' 'merek' 'yang' 'dipesan' 'mito' 'yang...
536                           'suara' 'belum' 'teruji'

In [8]:
print(test.shape)

(161, 1)

In [9]:
test.to_csv("data/data/test_1.csv", index=False, quoting=3)

In [10]:
validation.to_csv("data/data/validation_1.csv", index=False, quoting=3)

In [11]:
raw = pd.read_csv( "data/data/1.3_data_review_stemmed.csv")
raw['review'] = raw['review'].apply(lambda x: x.replace(","," "))
sentences = raw.loc[:,['review','rating']]
print(sentences)    
sentences['sentiment'] = sentences['rating'].apply(rating_to_sentiment)
sentences.drop(['rating'],axis=1,inplace=True)
neg = sentences[sentences['sentiment'] == 0]
pos = sentences[sentences['sentiment'] == 1]
print("All Processed Data")
print("Negative: ",neg.shape)
print("Positive: ",pos.shape)
sentences.to_csv("data/data/data_latih.csv", index=False, quoting=3)

                                                review  rating
0                                       tidak ada ulas       5
1                              puas kecil tapi kencang       5
2    barang yang datang bukan baracuda tiga lima tu...       1
3    terima kasih barang sudah sampai hari langsung...       5
4              barang bagus pengirman cepat mantap deh       5
..                                                 ...     ...
799    barang kondisi oke respon cepat dan sangat baik       5
800  barang sampai tepat waktu sesuai target lazada...       5
801  layan sangat bagus barang sesuai dengan yang p...       5
802  barang sampai lebih cepat dan dalam kondisi sa...       5
803                             bonus bohong tidak ada       3

[804 rows x 2 columns]
All Processed Data
Negative:  (226, 2)
Positive:  (578, 2)

In [12]:
train, validation = train_test_split(sentences, test_size=0.3, random_state=42)
test = validation.loc[:,['review']]

In [13]:
train.head()

                                                review  sentiment
319                                barang tidak fungsi          0
132    fd kurang baik cash karena ada yang retak retak          0
377  barang sampai dengan slamat dan lengkap sesuai...          1
571  barang sampai dengan selamat emas lumayan dan ...          1
439  flashdisk error jual tidak brfungsi cuma jadi ...          0

In [14]:
print(train.shape)

(562, 2)

In [15]:
train.to_csv("data/data/train_2.csv", index=False, quoting=3)

In [16]:
test.head()

                                                review
192  pesan tangal sembilan mei tujuh belas maksimal...
717  sempat ada isue dengan laptop tapi suport dari...
168  barang cepat terima dan dalam adan baik rekome...
522  kecewa merek yang pes mito yang datangatau kir...
536                                    suara belum uji

In [17]:
print(test.shape)

(242, 1)

In [18]:
test.to_csv("data/data/test_2.csv", index=False, quoting=3)

In [19]:
validation.to_csv("data/data/validation_2.csv", index=False, quoting=3)