In [1]:
import pandas as pd
import numpy as np
import string
import itertools
import re
from collections import Counter

In [2]:
raw = pd.read_csv( "data/data/data_clean.csv")
slang_words = pd.read_csv("data/external/kbba_ID.txt",
                        sep="\t", header=None)
slang = pd.read_csv("data/external/slangword_ID.txt",
                        sep=":", header=None)
baku_words = pd.read_csv("data/external/katabaku_ID.txt",
                        sep="|", header=None)
baku_words.columns = [1,0]
slang_words = pd.concat([slang_words, slang, baku_words])

In [3]:
slang_words.drop_duplicates(inplace=True)
slang_words = dict(zip(slang_words[0],slang_words[1]))

In [4]:
print(raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   rating           800 non-null    int64
 1   review           800 non-null    object
 2   aspect_category  800 non-null    object
 3   polarity         800 non-null    object
dtypes: int64(1), object(3)
memory usage: 25.1+ KB
None

In [5]:
raw.head()

,rating,review,aspect_category,polarity
0,3,"['membantu', 'kondisi', 'pandemi', 'tolong', '...",Pelayanan,negatif
1,5,"['konsultasi', 'dokter', 'bagus', 'durasi', 'c...",Pelayanan,negatif
2,1,"['astaga', 'obat', 'beli', 'obat', 'harga', 'm...",Harga,negatif
3,5,"['terima kasih', 'pelayanan', 'baik', 'cepat',...",Pelayanan,positif
4,1,"['menelepon', 'nomor', 'hadiah', 'konfirmasi',...",Sistem,positif

In [6]:
raw['review'][784]

"['terbaik', 'bagus', 'membantu', 'pandemi', 'suka']"

In [7]:
raw['review'][2]

"['astaga', 'obat', 'beli', 'obat', 'harga', 'masuk', 'akal', 'lipat', 'ulang', 'chat', 'bantuan', 'coba', 'pembayaran', 'resep', 'bank', 'berbeda', 'obat', 'gagal', 'solusi', 'penyelesain', 'berulang', 'gagal', 'harga', 'obat', 'masuk', 'akal', 'semoga', 'baik', 'banding', 'pesaing']"

In [8]:
def remove_numeric(review):
    return re.sub("\d"," ", review)

raw['review'] = raw['review'].apply(remove_numeric)

In [9]:
raw.head()

,rating,review,aspect_category,polarity
0,3,"['membantu', 'kondisi', 'pandemi', 'tolong', '...",Pelayanan,negatif
1,5,"['konsultasi', 'dokter', 'bagus', 'durasi', 'c...",Pelayanan,negatif
2,1,"['astaga', 'obat', 'beli', 'obat', 'harga', 'm...",Harga,negatif
3,5,"['terima kasih', 'pelayanan', 'baik', 'cepat',...",Pelayanan,positif
4,1,"['menelepon', 'nomor', 'hadiah', 'konfirmasi',...",Sistem,positif

In [10]:
def csv_string_to_list(csv_string):
    return csv_string[1:-1].split(",")

def string_without_quotes(word_list):
    new  = []
    for word in word_list:
        new.append(word.replace("'",""))
    return new

def delete_suffix_nya(review):
    return re.sub("(?:nya|ny)[$|\s]","",review)

In [11]:
raw['review'] = raw['review'].apply(delete_suffix_nya)
raw['review']

0      ['membantu', 'kondisi', 'pandemi', 'tolong', '...
1      ['konsultasi', 'dokter', 'bagus', 'durasi', 'c...
2      ['astaga', 'obat', 'beli', 'obat', 'harga', 'm...
3      ['terima kasih', 'pelayanan', 'baik', 'cepat',...
4      ['menelepon', 'nomor', 'hadiah', 'konfirmasi',...
                             ...
795            ['semudah', 'diklik', 'praktis', 'bantu']
796         ['pelayanan', 'ramah', 'paham', 'bidangnya']
797    ['bagus', 'aplikasi', 'dokter', 'pribadi', 'te...
798                ['memudahkan', 'konsultasi', 'rumah']
799     ['membantu', 'pelayanan', 'dokter', 'memuaskan']
Name: review, Length: 800, dtype: object

In [12]:
raw['review'] = raw['review'].apply(csv_string_to_list)
raw['review']

0      ['membantu',  'kondisi',  'pandemi',  'tolong'...
1      ['konsultasi',  'dokter',  'bagus',  'durasi',...
2      ['astaga',  'obat',  'beli',  'obat',  'harga'...
3      ['terima kasih',  'pelayanan',  'baik',  'cepa...
4      ['menelepon',  'nomor',  'hadiah',  'konfirmas...
                             ...
795         ['semudah',  'diklik',  'praktis',  'bantu']
796      ['pelayanan',  'ramah',  'paham',  'bidangnya']
797    ['bagus',  'aplikasi',  'dokter',  'pribadi', ...
798              ['memudahkan',  'konsultasi',  'rumah']
799    ['membantu',  'pelayanan',  'dokter',  'memuas...
Name: review, Length: 800, dtype: object

In [13]:
def mapping_slang_words(review):
    return [slang_words[word] if word in slang_words else word for word in review]
raw['review'] = raw['review'].apply(mapping_slang_words)

In [14]:
raw['review']

0      ['membantu',  'kondisi',  'pandemi',  'tolong'...
1      ['konsultasi',  'dokter',  'bagus',  'durasi',...
2      ['astaga',  'obat',  'beli',  'obat',  'harga'...
3      ['terima kasih',  'pelayanan',  'baik',  'cepa...
4      ['menelepon',  'nomor',  'hadiah',  'konfirmas...
                             ...
795         ['semudah',  'diklik',  'praktis',  'bantu']
796      ['pelayanan',  'ramah',  'paham',  'bidangnya']
797    ['bagus',  'aplikasi',  'dokter',  'pribadi', ...
798              ['memudahkan',  'konsultasi',  'rumah']
799    ['membantu',  'pelayanan',  'dokter',  'memuas...
Name: review, Length: 800, dtype: object

In [15]:
def remove_single_alphabet_only(review):
    return [word for word in review if word not in string.ascii_lowercase]

def remove_too_short_words(review):
    return [word for word in review if len(word) > 2]

In [16]:
raw['review'] = raw['review'].apply(remove_single_alphabet_only)
raw['review'] = raw['review'].apply(remove_too_short_words)

In [17]:
raw = raw.dropna(subset=['review'],how='all')
raw = raw[raw['review'].map(len) > 0]
raw['word_count'] = raw['review'].map(len)
def convert_list_to_string(word_list):
    return ",".join(word_list)
raw['review'] = raw['review'].apply(convert_list_to_string)
raw = raw.dropna(subset=['review'],how='all')
raw = raw[raw['review'].map(len) > 0]

In [18]:
most_common = pd.Series(''.join(raw['review']).split(",")).value_counts()[:10]
most_common

 'dokter'        214
 'obat'          139
 'konsultasi'    134
 'aplikasi'      117
 'cepat'          98
 'membantu'       94
 'bagus'          81
 'terima'         65
 'ramah'          56
 'respon'         56
dtype: int64

In [19]:
raw

,rating,review,aspect_category,polarity,word_count
0,3,"'membantu', 'kondisi', 'pandemi', 'tolong', 'e...",Pelayanan,negatif,44
1,5,"'konsultasi', 'dokter', 'bagus', 'durasi', 'ce...",Pelayanan,negatif,10
2,1,"'astaga', 'obat', 'beli', 'obat', 'harga', 'ma...",Harga,negatif,30
3,5,"'terima kasih', 'pelayanan', 'baik', 'cepat', ...",Pelayanan,positif,13
4,1,"'menelepon', 'nomor', 'hadiah', 'konfirmasi', ...",Sistem,positif,10
...,...,...,...,...,...
795,5,"'semudah', 'diklik', 'praktis', 'bantu'",Anekdot/Serbaneka,positif,4
796,5,"'pelayanan', 'ramah', 'paham', 'bidangnya'",Anekdot/Serbaneka,positif,4
797,4,"'bagus', 'aplikasi', 'dokter', 'pribadi', 'ter...",Anekdot/Serbaneka,positif,5
798,5,"'memudahkan', 'konsultasi', 'rumah'",Pelayanan,positif,3
799,5,"'membantu', 'pelayanan', 'dokter', 'memuaskan'",Pelayanan,positif,4

In [20]:
def avg_word(words):
  return (sum(len(word) for word in words)/len(words))

raw['avg_word'] = raw['review'].apply(lambda x: avg_word(x.split(",")))

In [21]:
raw.to_csv("data/data/data_clean_clean.csv", index=False)